<h1>prout</h1>

<h2><%= @list.name %></h2>

<ul>
  <% @list.movies.each do |movie| %>
    <li><%= image_tag = movie.poster_url %><br><%= movie.title %><br><%= movie.overview %><br>Rating: <%= movie.rating %> </li>
  <% end %>
</ul>


<%= link_to "Back to the lists", lists_path %>
